@font-face{
    font-family: "Comic Gibi";
    src: url("/assets/css/fonts/Comic\ Gibi.ttf") format("truetype");
}
.comicgibi{
    font-family: 'Comic Gibi',sans-serif;
}
/* Video */
#videoBg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.customButton{
    padding: 0 25px;
    border-radius: 4px;
    min-width: 140px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #69cec2;
    cursor: pointer;
    color: black;
    background-color: azure;
}

.customButton:hover{
    background-color: transparent !important;
}

.subheading{
    font-size: 30px !important;
    font-weight: 500;
}

/* Header */
.navIndex{
    padding-top: 0 !important;
}

.ahover:hover{
    font-weight: 400;
    color: black;
}

#header{
    padding-bottom: 0;
    overflow-x: hidden;
}

.comingsoon{
    background-color: cadetblue;
}

/* Info */
.wrapper-info{
    padding-top: 2em;
}


/* Info */
.wrapper-how{
    padding-bottom: .5em;
    padding-top: 2em;
}

/* Form */
form{
    padding-top: 1em;
    padding-bottom: 1em;
}

.wrapper-form{
    margin-top: 2em;
}

#sign-up-form{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    padding: 2em;
}

.sign-up-data{
    padding-top: 2em;
    padding-bottom: 2em;
}

.form-group{
    padding-bottom: 1em;
}

.signupButton{
    font-size: 20px;
}

.input{
    width: 95% !important;
}

/* Common */
.align-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-rectangle{
    border-radius: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* Footer */
#footer{
    color: black;
    font-weight: 400;
    background-color: rgb(121, 151, 235);
    padding-bottom: 3em;
}

.copyright{
    padding-top: 4em;
}

/* Carousel */

ul.slides {
    display: block;
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

/* Other Page */
.row-icons{
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
