/* Video */
#videoBg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.customButton{
    padding: 0 25px;
    border-radius: 4px;
    min-width: 140px;
    height: 50px;
    font-size: 16px;
    border: 1px solid #69cec2;
    cursor: pointer;
    color: black;
    background-color: azure;
}

.customButton:hover{
    background-color: transparent !important;
}

/* Header */
#header{
    padding-bottom: 0;
    overflow-x: hidden;
}

#header:after{
    position: absolute;
    left: 0;
    bottom: 0;  
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
        rgba(0,119,190, 1) 8%, 
        rgba(255,255,255, 0) 20%
    );
}

/* Info */
.wrapper-info{
    padding-top: 2em;
}

/* Carousel */
#carousel{
    padding-top: 1vh;
    padding-bottom: 0;
    background: #fff;
}

/* Info */
.wrapper-how{
    padding-bottom: .5em;
    padding-top: 2em;
}

/* Form */
form{
    padding-top: 1em;
    padding-bottom: 1em;
}

.wrapper-form{
    margin-top: 2em;
}

#sign-up-form{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    padding: 2em;
}

.sign-up-data{
    padding-top: 2em;
    padding-bottom: 2em;
}

.form-group{
    padding-bottom: 1em;
}

.input{
    width: 95% !important;
}

/* Common */
.align-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-rectangle{
    border-radius: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

